{
  "customSyntax": "postcss-scss",
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "plugins": ["stylelint-scss"],
  "rules": {
    "selector-class-pattern": "[a-z]+",
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ],
    "at-rule-no-unknown": null
  },
  "syntax": "scss"
}
